
.sign-in-form {
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 90px;
}

.sign-in .row {
    margin: 0;
}

.sign-in-form .btn-submit {
    text-align: right;
}

.sign-in-form .btn{
    color:#ee3769;
    font-size:20px;
    background:transparent;
    cursor:pointer;
    border:2px solid #ee3769;
    width:150px;
    height:40px;
    text-align:center;
    -webkit-transform:translate(0,40%);
    transform:translate(0,40%);
    -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    overflow:hidden;
    line-height: 1;
}


.sign-in-form .btn::before{
    content:'';
    position:absolute;
    top:-130px;
    margin:auto;
    display:block;
    border-radius:50%;
    width:300px;
    height:300px;
    left:-75px;
    -webkit-transition:box-shadow .6s ease-in-out;
    transition:box-shadow .6s ease-in-out;
    z-index:-1;
}

.sign-in-form .form-control {
    color: rgba(0,0,0, .6);
}

.sign-in-form .btn:hover{
    color:#fff;
}

.sign-in-form .btn:hover::before{
    box-shadow:inset 0 0 0 160px #ee3769;
}



.sign-in-form .form-control,
.sign-in-form .input-group-text {
    background: transparent;
    border-color: #ee3769;
}

.sign-in-form .input-group-text {
    background-color: #343a40;
}

.sign-in-form .form-control::placeholder,
.sign-in-form .link-to-forget-password a,
.sign-in-form .link-to-forget-password a:before,
.sign-in-form .link-to-forget-password a:after {
    color: rgba(0,0,0, .6);
}

.sign-in-form .alert-warning {
    margin-top: 50px;
    background-color: #ee3769;
    color: bisque;
}